.Conceitos{
    text-align: center;
    margin-left: 14vh;
}

.Conceitosvida{
    text-align: center;
    font-size: 6vh;
    width: 170vh;
    color: #bb1f1f;
}

.ConteudoConceitos{
    line-height: 4vh;
    width: 170vh;
    font-size: 3vh;
}

.Cuidado{
    color: #bb1f1f;
}

.Conceitosespiritos{
    text-align: center;
    font-size: 6vh;
    width: 170vh;
    color: #4A86E8;
    margin-top: 15vh;
}

.espacoconceitos{
    margin-top: 8vh;
}

.Conceitocontratos{
    text-align: center;
    font-size: 6vh;
    width: 170vh;
    color: #FFFF00;
    margin-top: 15vh;
}